.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
}

.header > :last-child {
  margin-left: auto;
}

.back-button, .more-options-button {
  color: #fff !important;
  font-size: 20px;
}

/* 下拉選單暗黑風格 */
:where(.css-dev-only-do-not-override-fbu07f).ant-dropdown .ant-dropdown-menu {
  background-color: #1f1f1f;
  padding: 8px 0;
}

:where(.css-dev-only-do-not-override-fbu07f).ant-dropdown .ant-dropdown-menu-item {
  padding: 12px 24px;
}

:where(.css-dev-only-do-not-override-fbu07f).ant-dropdown .ant-dropdown-menu-item[data-menu-id*="edit"] {
  color: #fff !important;
}

:where(.css-dev-only-do-not-override-fbu07f).ant-dropdown .ant-dropdown-menu-item:hover {
  background-color: #2d2d2d;
}

:where(.css-dev-only-do-not-override-fbu07f).ant-dropdown .ant-dropdown-menu-item .anticon {
  color: #fff;
}

:where(.css-dev-only-do-not-override-fbu07f).ant-dropdown .ant-dropdown-menu-item-danger {
  color: #ff4d4f;
}

:where(.css-dev-only-do-not-override-fbu07f).ant-dropdown .ant-dropdown-menu-item-danger:hover {
  background-color: #2d2d2d;
}

:where(.css-dev-only-do-not-override-fbu07f).ant-dropdown .ant-dropdown-menu-item-danger .anticon {
  color: #ff4d4f;
}
